<div class="home-container">
    <header class="home-header">
      <h1>Bem-vindo ao Academify!</h1>
      <p>Sistema de gestão de alunos</p>
    </header>
  
    <div class="home-links">
      <h2>Funcionalidades:</h2>
      <ul>
        <li><a routerLink="/listar-alunos">Listar Alunos</a></li>
        <li><a routerLink="/incluir-aluno">Incluir Aluno</a></li>
        <li><a routerLink="/editar-aluno">Editar Aluno</a></li>
        <li><a routerLink="/visualizar-aluno">Visualizar Aluno</a></li>
        <li><a routerLink="/excluir-aluno">Excluir Aluno</a></li>
      </ul>
    </div>
  </div>
  